<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.InventoryRecordsMapper">
	<resultMap id="BaseResultMap" type="com._520it.crm.domain.InventoryRecords">
		<result property="id" column="id" />
		<result property="number" column="number" />
		<result property="changeNumber" column="changeNumber" />
		<result property="operator" column="operator" />
		<result property="entryTime" column="entryTime" />
		<result property="stocktakingId" column="stocktaking_id" />
	</resultMap>
	
	<insert id="insert" parameterType="com._520it.crm.domain.InventoryRecords"
		useGeneratedKeys="true" keyProperty="id">
		insert into inventoryRecords
		(number,changeNumber,operator,entryTime,stocktaking_id)
		values
		(#{number},#{changeNumber},#{operator},#{entryTime},#{stocktakingId})
	</insert>
	

	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="long">
		select * from inventoryRecords where stocktaking_id = #{stocktakingId}
	</select>
</mapper>