<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.RechargeMapper">
	<resultMap id="BaseResultMap" type="com._520it.crm.domain.MemberPayment">
		<id column="id" property="id" />
		<result column="payMoney" property="payMoney" />
		<result column="payment" property="payment" />
		<result column="remark" property="remark" />
		<result column="paymentTime" property="paymentTime" />
		<result column="giveMoney" property="giveMoney" />
		<result column="totalMoney" property="totalMoney" />
		<result column="sn" property="sn" />
		<association property="member" column="member_id"
			select="com._520it.crm.mapper.MemberMapper.selectByPrimaryKey" />
	</resultMap>
	<resultMap id="base_Map" type="com._520it.crm.domain.MemberPayment">
		<id column="id" property="id" />
		<result column="payMoney" property="payMoney" />
		<result column="payment" property="payment" />
		<result column="remark" property="remark" />
		<result column="paymentTime" property="paymentTime" />
		<result column="giveMoney" property="giveMoney" />
		<result column="totalMoney" property="totalMoney" />
		<result column="sn" property="sn" />
		<association property="member" javaType="com._520it.crm.domain.Member" columnPrefix="m_">
			<result property="id" column="id" />
			<result property="name" column="name" />
			<result property="sn" column="sn" />
			<result property="payment" column="payment" />
			<result property="remark" column="remark" />
			<result property="integral" column="integral" />
			<result property="usedintegral" column="usedintegral" />
			<result property="totalMoney" column="totalMoney" />
			<result property="totalConsume" column="totalConsume" />
			<result property="deadline" column="deadline" />
		</association>
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="long">
		delete from
		memberPayment where id = #{id}
	</delete>
	<insert id="insert" parameterType="com._520it.crm.domain.MemberPayment"
		useGeneratedKeys="true" keyProperty="id">
		insert into memberPayment
		(member_id,payMoney,payment,remark,paymentTime,giveMoney,totalMoney,sn)
		values
		(#{member.id},#{payMoney},#{payment},#{remark},#{paymentTime},#{giveMoney},#{totalMoney},#{sn})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.MemberPayment">
		update
		memberPayment
		set
		member_id=#{member.id},
		payMoney=#{payMoney},
		payment=#{payment},
		remark=#{remark},
		paymentTime=#{paymentTime},
		giveMoney=#{giveMoney},
		totalMoney=#{totalMoney}
		sn=#{sn}
		where id =
		#{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="long">
		select * from memberPayment where id = #{id}
	</select>
	<select id="selectAll" resultMap="base_Map">
		select ment.*,m.name m_name,m.totalConsume m_totalConsume from
		memberPayment ment join member m on ment.member_id=m.id
		WHERE sn =#{sn}
	</select>
	<sql id="conditionSql">
		<where>
			<if test="memberId!=null">
				and member_id = #{memberId}
			</if>

		</where>
	</sql>
	<sql id="base_where">
		<if test="startTime!=null">
			and ment.paymentTime &gt;=#{startTime}
		</if>
		<if test="endTime!=null">
			and ment.paymentTime &lt;=#{endTime}
		</if>
		<if test="payment!=null">
			and ment.payment=#{payment}
		</if>

	</sql>
	<select id="queryPageCount" resultType="long">
		select count(0) from memberPayment
		<include refid="conditionSql" />
	</select>
	<select id="queryPageData" resultMap="BaseResultMap">
		select * from memberPayment
		<include refid="conditionSql" />
		limit #{start},#{rows}
	</select>
	<select id="getMembet" resultMap="BaseResultMap">

		SELECT
		m.sn,m.name,ment.payMoney,ment.giveMoney,ment.totalMoney,ment.paymentTime,ment.payment,ment.remark
		from member m join memberpayment ment on ment.member_id=m.id
		<include refid="base_where" />

	</select>
</mapper>